#canvas {
  width: 600px;
  height: 400px;
  margin: 10vw 0 0 10vh;
  overflow: hidden;
  position: relative;
}

#table > div{
 margin: 30px 0px 30px 20px;
  width: 120px;
  height: 120px;
  border-radius: 3px;
  visibility: hidden;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  vertical-align: 3%;
}

#canvas > div:first-child {
  height: 400px;
  width: 600px;
}

#table > div:hover {
  box-shadow: 1px 1px 20px grey;
}

.invisible {
  background-color: transparent;
}

.ice-cream {
  background-image: url(../imagenes/ice-cream.png);
  background-size: contain;
}

.pancake {
  background-image: url(../imagenes/pancake.png);
  background-size: contain;
}

.donut {
  background-image: url(../imagenes/donut.png);
  background-size: contain;
}

.waffle {
  background-image: url(../imagenes/waffle.png);
  background-size: contain;
}


#btn-start {
  text-align: center;
  margin-bottom: 15px;
}

#start {
  background: linear-gradient(0deg, rgba(195,255,235,1) 39%, rgba(255,192,238,1) 99%);

}

#background {
  background-image: url(../imagenes/fondo.gif);
  background-size: contain;
  background-repeat: cover;
  position: absolute;
  z-index: -1;
}

.initial {
  background-image: url(../imagenes/carta-cara-3.png);
  background-size: contain;
}