@import url('https://fonts.googleapis.com/css2?family=Chela+One&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');


body {
  background-image: url(../imagenes/wall2.jpg);
  background-size: cover;
}
#canvas {
  width: 600px;
  height: 400px;
  left: 20vw;
  top: 25px;
  overflow: hidden;
  position: relative;
}

#table > div{
 margin: 30px 0px 30px 20px;
  width: 120px;
  height: 120px;
  border-radius: 3px;
  visibility: hidden;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  vertical-align: 3%;
}

#canvas > div:first-child {
  height: 400px;
  width: 600px;
}

#table > div:hover {
  box-shadow: 1px 1px 20px yellow;
}

.invisible {
  background-color: transparent;
}

.ice-cream {
  background-image: url(../imagenes/ice-cream.png);
  background-size: contain;
}

.pancake {
  background-image: url(../imagenes/pancake.png);
  background-size: contain;
}

.donut {
  background-image: url(../imagenes/donut.png);
  background-size: contain;
}

.waffle {
  background-image: url(../imagenes/waffle.png);
  background-size: contain;
}


#btn-start {
  text-align: center;
  margin-bottom: 15px;
}

#start {
  background: linear-gradient(0deg, rgba(195,255,235,1) 39%, rgba(255,192,238,1) 99%);

}

#background {
  background-image: url(../imagenes/fondo.gif);
  background-size: contain;
  background-repeat: cover;
  position: absolute;
  z-index: -1;
}

.initial {
  background-image: url(../imagenes/carta-cara-3.png);
  background-size: contain;
}
/*------------------------------*/


/* Windows Modal */
.modal {
  position: absolute; 
  z-index: 1;  
  padding-top: 100px;  
  left: 20vw;
  top: 25px;
  height: 550px;
  width: 650px;
  overflow: auto;  
  background-color: rgb(255, 255, 255);
  /* background-image: "../imagenes/fondo.gif"; */
  border-radius: 5px;
  border: 2px solid black;
  background-size: cover;
}

.modal-container {
  margin: 30px 0px 30px 20px;
  height: 500px;
  width: 600px;
  text-align: center;
  font-size: 40px;
  font-family: 'Chela One', cursive;
  display: none;
  pointer-events: none;
  z-index: 1;
}


.modal-container2 {
  height: 500px;
  width: 600px;
  text-align: center;
  font-size: 40px;
  font-family: 'Chela One', cursive;
  display: none;
  pointer-events: none;
  z-index: 1;
}

.modal-container-cover {
  height: 500px;
  width: 600px;
  text-align: center;
  font-size: 40px;
  font-family: 'Chela One', cursive;
  display: none;
  pointer-events: none;
  z-index: 1;
}

.modal-cover {
  position: absolute; 
  z-index: 1; 
  padding-top: 100px;
  left: 20vw;
  top: 25px;
  height: 550px;
  width: 650px;
  overflow: auto; 
  background-image: url(../imagenes/cover.jpeg);
  border-radius: 5px;
  border: 2px solid black;
  background-size: cover;
}

#btn-cover {
  text-align: center;
  margin-bottom: 15px;
}

#img-cover {
  display: block;
  margin-left: auto;
  margin-right: auto; 
}
#img-game-over{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.show {
  display: block;
  pointer-events: auto;
  opacity: 1;
}

.close {
  display: none;
  pointer-events: auto;
  opacity: 1;
}

#btn-reset, #btn-reset2 {
  background-color: rgb(199 255 152);
  border-color: rgb(199 255 152);
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  cursor: pointer;
}
