#canvas {
  width: 600px;
  border: 1px solid black;
  margin: 10vw 0 0 10vh;
}

#table > div{
  margin: 8.5% 4%;
  width: 70px;
  height: 70px;
  border-radius: 3px;
  visibility: hidden;
  border: 2px solid black;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  vertical-align: 3%;
}

#canvas > div {
  margin: 6%;
  background-color: lightgreen;
  width: 80%;
  height: 80%;
}

#table > div:hover {
  background-color: blue;
}

.invisible {
  background-color: transparent;
}

.ice-cream {
  background-color: yellow;
}

.pancake {
  background-color: green;
}

.donut {
  background-color: pink;
}

.waffle {
  background-color: orange;
}