
/*title font*/
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Titan+One&display=swap');

/*buttons font*/
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
  background-image: url(../assets/imagenes/wall2.jpg);
  background-size: cover;
  margin-left: 20%;
}

#title {
  font-size: 7vh;
  font-family: 'Titan One', cursive;
  margin-top: 50px;
  margin: 50px 0 0 12vh;
  color: antiquewhite;
  -webkit-text-stroke: 1px #a8596e;
  user-select: none;
}
  
#time {
  position: relative;
  width: 600px;
  height: 100px;
  margin-left: 10vh;
}

#time-line {
  position: absolute;
  height: 15px;
  width: 100%;
  margin: 70px 0 0 0;
  background-color: white;
  border-radius: 20px;
  z-index: -1;
}

#character {
  position: absolute;
  background-image: url(../assets/imagenes/mapache.png);
  background-size: cover;
  margin-top: 10px;
  right: -5px;
  width: 80px;
  height: 100px;
  z-index: 1;
}

#canvas {
  width: 600px;
  height: 400px;
  left: 5vw;
  top: 25px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  border: 1px solid black;
}

#table > div{
 margin: 30px 0px 30px 20px;
  width: 120px;
  height: 120px;
  border-radius: 3px;
  visibility: hidden;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  vertical-align: 3%;
}

#canvas > div:first-child {
  height: 400px;
  width: 600px;
}

#table > div:hover {
  box-shadow: 1px 1px 20px grey;
}

.invisible {
  background-color: transparent;
}

.ice-cream {
  background-image: url(../assets/imagenes/ice-cream.png);
  background-size: contain;
}

.pancake {
  background-image: url(../assets/imagenes/pancake.png);
  background-size: contain;
}

.donut {
  background-image: url(../assets/imagenes/donut.png);
  background-size: contain;
}

.waffle {
  background-image: url(../assets/imagenes/waffle.png);
  background-size: contain;
}

#background {
  background-image: url(../assets/imagenes/fondo.gif);
  background-size: contain;
  background-repeat: cover;
  position: absolute;
  z-index: -1;
}

.initial {
  background-image: url(../assets/imagenes/carta-cara-3.png);
  background-size: contain;
}

/* Windows Modal */

.modal {
  background-image: url(../assets/imagenes/lluvia.gif);
  background-color: white;
  position: absolute; 
  z-index: 1;  
  padding-top: 100px;  
  left: 20vw;
  top: 25px;
  height: 550px;
  width: 800px;
  overflow: auto;  
  background-color: rgb(255, 255, 255);
  /* background-image: "../imagenes/fondo.gif"; */
  border-radius: 5px;
  border: 2px solid black;
  background-size: cover;
}

.modal-container {
  margin: 30px 0px 30px 20px;
  height: 750px;
  width: 800px;
  text-align: center;
  font-size: 40px;
  font-family: 'Chela One', cursive;
  display: none;
  pointer-events: none;
  z-index: 1;
}

.modal-container2 {
  height: 750px;
  width: 800px;
  text-align: center;
  font-size: 40px;
  font-family: 'Chela One', cursive;
  display: none;
  pointer-events: none;
  z-index: 1;
}

.modal-container-cover {
  height: 500px;
  width: 600px;
  text-align: center;
  display: none;
  pointer-events: none;
  z-index: 1;
}

h1 {
  text-align: center;
  font-family: 'Titan One', cursive;
  font-size: 50px;
  color: antiquewhite;
  -webkit-text-stroke: 1px #a8596e;
  text-shadow: px 4px rgba(0, 0, 0, 0.438);
  user-select: none;
}

.modal-cover {
  position: absolute; 
  z-index: 1; 
  padding-top: 200px;
  left: 20vw;
  top: 50px;
  height: 450px;
  width: 800px;
  overflow: auto; 
  background-image: url(../assets/imagenes/cover.jpeg);
  border-radius: 5px;
  border: 2px solid black;
  background-size: cover;
}

#btn-cover {
  text-align: center;
  margin-bottom: 15px;
  cursor: pointer;
  color: antiquewhite;
  font-family: 'Patrick Hand', cursive;
  background-color: #a8596e;
  border-color: #a8596e;
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;

}

#img-cover {
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

#img-game-over{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.show {
  display: block;
  pointer-events: auto;
  opacity: 1;
}

.close {
  display: none;
  pointer-events: auto;
  opacity: 1;
}

#sound-button {
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 30px;
  position: absolute;
  bottom: 4px;
  left: 5px;
  cursor: pointer;
  z-index: 20;
  border: 1px solid rgb(112, 75, 98);
}

.sound-on {
    background-image: url(../assets/imagenes/sound-on-pink.png);
}

.sound-off {
    background-image: url(../assets/imagenes/sound-off-pink.png);
}

.fullness-bar {
  position: absolute;
  height: 15px;
  width: 100%;
  margin: 70px 0 0 0;
  background-color: rgb(208 255 174);
  border-radius: 20px;
  transition: background-color 0.5s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes jump {
  0% { transform: translate(-50%, -50%) scale(1.25, 0.75); }
  50% { transform: translate(-50%, -150%) scale(1, 1); }
}

#btn-reset, #btn-reset2 {
  cursor: pointer;
  color: antiquewhite;
  font-family: 'Patrick Hand', cursive;
  background-color: #a8596e;
  border-color: #a8596e;
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
}

.countdown {
  background-color: rgba(0,0,0,.0001) !important;
  text-align: center;
  font-size: 40px;
  font-family: 'Chela One', cursive;
  display: none;
  pointer-events: none;
  z-index: 1;
  position: absolute;
  left: 33%;
  top: 35%;
  width: 200px;
  height: 100px;
}

.wrong {
  animation: shake 0.3s;
}

.right {
  animation: jump 0.5;
}

.time-wrong {
  background-color: rgb(238, 77, 77);
}
.time-right{
  background-color: rgb(245, 209, 92);
}
